extends ../template

block container
    div(class="row")
        div(class="col")
            h3 Administration

            p You can check your account details to the right
            p Make sure to Link a Discord Guild/Channel, as otherwise this tool just doesn't do anything for you!

            if links && links.discord_channel_id
                form(action="/admin/test/live/" method="post" class="float-end")
                    input(type="submit" class="btn btn-primary" value="Send Live Test")
                form(action="/admin/test/chan/" method="post" class="float-end")
                    input(type="submit" class="btn btn-info" value="Send Chan. Test")
            h3 Test your Notification

            if links && links.discord_channel_id
                p You can test your Webhook.
                ul
                    li Click "Send Chan. Text" to be send a test notification which will notify just you!
                    li Click "Send Live Test" to test your Live Message with the customsation below, it won't replace the values!
                p Use this to test this Application can talk to the right Channel, and test your message format.
                p This will return here once the message has been posted to your Discord and deleted again. Which&#39;ll take a few seconds, to give you time to look at it.
            else
                p You need to <a href="/login/discord/">Link a Discord</a> first!

            if links && links.discord_channel_id
                form(action="/admin/update/" method="post")
                    div(class="float-end")
                        input(type="submit" class="btn btn-primary" value="Save Customisation")
                    fieldset
                        legend Format your Go Live
                    div(class="form-group")
                        label(for="discord_template" class="form-label") Notification Template
                        textarea(name="discord_template" id="discord_template" class="form-control" rows="3") #{links.discord_template}

                p You can use the following replacement variables
                ul
                    li [title] - Your Stream Title
                    li [game] - The Category you are set to
                    li [link] - The Link to your Stream, wrap with <kbd>&lt;&gt;</kbd> to suppress the Discord Preview
                    li [display] - Your Twitch <kbd>dIsPlAyNaMe</kbd>
                    li [user] - Your Twitch <kbd>login</kbd>

                p You can include <kbd>@everyone</kbd>, <kbd>@here</kbd> to send a Ping to.
                p If you want to ping a Role you will need to do the following <kbd><@&ROLEID></kbd>

                p To get the Role ID, Server Settings -> Roles -> Then Right Click the Target Role

                img(src="/get_roles_id.png" alt="How to get Role ID" title="How to get Role ID")

        div(class="col")
            p(class="float-end")
                a(href="/logout/" class="btn btn-danger") Logout
            h3 Account Details

            table(class="table")
                tr
                    th Twitch
                    td #{session.user.twitch.display_name} / #{session.user.twitch.login}
                tr
                    th Twitch Feed
                    if eventsub > 0
                        td #{eventsub} / 3 OK
                    else
                        td Pending
                tr
                    th Discord
                    if links && links.discord_channel_id
                        td Connected to&nbsp;
                            a(href="https://discord.com/channels/"+links.discord_guild_id+"/" + links.discord_channel_id target="_blank") Guild/Channel
                            br
                            a(href="/login/discord/") Reconnect To Discord/Change Channel
                    else
                        td
                            a(href="/login/discord/") Discord Link Required

            form(action="/admin/recache/" method="post" class="float-end")
                input(type="submit" class="btn btn-info" value="Force Recache")
            h3 Current Stream Data
            if !channel_data
                p None on File yet
            else
                table(class="table")
                    tr
                        th Channel
                        td
                            a(href="https://twitch.tv/" + channel_data.twitch_login + "/" target="_blank") #{channel_data.twitch_display_name}
                    tr
                        th Live
                        td #{channel_data.channel_live ? 'Live' : 'Offline'}
                    tr
                        th Title
                        td #{channel_data.channel_title}
                    tr
                        th Game
                        td #{channel_data.channel_game}

            div(class="widget")
                h3 HELP, I need help

                p Need a hand or want to make a feature suggestion? Either find me <a href="https://twitter.com/barrycarlyon" target="twitter">@BarryCarlyon on Twitter</a> or BarryCarlyon#1698 on Discord

    div(class="row")
        div(class="col")
            h3 Notification Log
            p Last 10 notification events

            table(class="table")
                for event in events
                    tr
                        if (event.notification_type == 1)
                            td Discord Test
                        else if (event.notification_type == 2)
                            td Twitch Stream Up
                        else if (event.notification_type == 3)
                            td Twitch Stream Down
                        else if (event.notification_type == 4)
                            td Twitch Stream Changed
                        else if (event.notification_type == 5)
                            td Discord Live
                        else
                            td Unknown

                        td #{event.tos}
                        td
                            if event.notification_type == 5 && event.status == 1
                                a(href=event.discord_message_url target="_blank") Discord Message
                        if event.status == 0
                            td Pending
                        else if event.status == 1
                            td Ok
                        else if event.status == 2
                            td Failed
                        else if event.status == 3
                            td Sent and Deleted
                        else
                            td Unknown
